/*TODO:Change this to preferred darkmode colors, as this was js used for debugging with how darkmode is gonna be displayed on all screens*/
@import "palettes.css";

.dark {
    -bg-nav: -dark-blue;
    -accent-color: -orange-to-red-orange;
    -light-accent-color: -peach-to-orange;
    -bg-content: -midnight-blue;

    -brand-text-color: -dark-orange;
    -bg-default: white;
    -bg-default2: white;
    -bg-default3: -brand-black;
    -bg-default4: -off-white;
    -bg-default-border: -even-lighter-grey;
    -bg-default-border2: -light-grey;
}

.dark .dashboardScrollPane,
.dark .profileScrollPane,
.dark .settingsScrollPane {
    -bg-content: -midnight-blue;
    -accent-color: -orange-to-red-orange;
    -light-accent-color: -light-orange;
    -bg-color-accent: -dark-pastel-orange;
}

.dark .foodLogScrollPane {
    -bg-content: -midnight-blue;
    -accent-color: -dark-green;
    -light-accent-color: -green;
    -bg-color-accent: -dark-pastel-green;
}

.dark .activityLogScrollPane {
    -bg-content: -midnight-blue;
    -accent-color: -vibrant-red;
    -light-accent-color: -orange;
    -bg-color-accent: -dark-pastel-red;
}

.dark .notificationsScrollPane {
    -bg-content: -midnight-blue;
    -accent-color: -dark-purple;
    -light-accent-color: -purple;
    -bg-color-accent: -dark-pastel-purple;
}

.dark .healthScrollPane {
    -bg-content: -midnight-blue;
    -accent-color: -hot-pink;
    -light-accent-color: -pink;
    -bg-color-accent: -dark-pastel-pink;
}