@import "palettes.css";

/*
 ONLY ADD  STYLES HERE FOR LIGHT MODE COLORS.
 THIS IS SO THAT WE CAN SWITCH FROM LIGHT MODE TO DARK MODE,
  BY ADDING STYLECLASS LIGHT, OR DARK.
  GO TO APPLICATIONS.CSS
*/

.root .light {
    -bg-nav: -bluish-white;
    -accent-color: -vibrant-blue;
    -light-accent-color: -less-vibrant-blue;
    -bg-content: -off-white;

    -bg-default: white;
    -bg-default2: white;
    -bg-default-border: -even-lighter-grey;
    -bg-default-border2: -light-grey;
}

.light .dashboardScrollPane{
    -bg-content: -off-white;
    -accent-color: -vibrant-blue;
    -light-accent-color: -less-vibrant-blue;
    -bg-color-accent: -pastel-blue;
}

.light .foodLogScrollPane{
    -bg-content: -light-green;
    -accent-color: -dark-green;
    -light-accent-color: -green;
    -bg-color-accent: -pastel-green;
}

.light .activityLogScrollPane{
    -bg-content: -light-pink;
    -accent-color: -vibrant-red;
    -light-accent-color: -orange;
    -bg-color-accent: -pastel-red;
}

.light .settingsScrollPane{
    -bg-content: -off-white;
    -accent-color: -dark-grey;
    -light-accent-color: -grey;
    -bg-color-accent: -even-lighter-grey;
}

.light .notificationsScrollPane{
    -bg-content: -light-purple;
    -accent-color: -dark-purple;
    -light-accent-color: -purple;
    -bg-color-accent: -pastel-purple;
}

