@import "palettes.css";

/*
 ONLY ADD  STYLES HERE FOR LIGHT MODE COLORS.
 THIS IS SO THAT WE CAN SWITCH FROM LIGHT MODE TO DARK MODE,
  BY ADDING STYLECLASS LIGHT, OR DARK.
  GO TO APPLICATIONS.CSS
*/

.light {
    -bg-nav: -bluish-white;
    -accent-color: -orange-to-red-orange;
    -light-accent-color: -peach-to-orange;
    -bg-content: -off-white;

    -brand-text-color: -dark-orange;
    -bg-default: white;
    -bg-default2: white;
    -bg-default3: -brand-black;
    -bg-default-border: -even-lighter-grey;
    -bg-default-border2: -light-grey;
}

.light .dashboardScrollPane,
.light .profileScrollPane,
.light .settingsScrollPane{
    -bg-content: -off-white;
    -accent-color: -orange-to-red-orange;
    -light-accent-color: -light-orange;
    -bg-color-accent: -pastel-orange;
}

.light .foodLogScrollPane{
    -bg-content: -light-green;
    -accent-color: -dark-green;
    -light-accent-color: -green;
    -bg-color-accent: -pastel-green;
}

.light .activityLogScrollPane{
    -bg-content: -light-pink;
    -accent-color: -vibrant-red;
    -light-accent-color: -orange;
    -bg-color-accent: -pastel-red;
}

/*.light .profileScrollPane,*/
/*.light .settingsScrollPane{*/
/*    -bg-content: -off-white;*/
/*    -accent-color: -dark-grey;*/
/*    -light-accent-color: -grey;*/
/*    -bg-color-accent: -even-lighter-grey;*/
/*}*/

.light .notificationsScrollPane{
    -bg-content: -light-purple;
    -accent-color: -dark-purple;
    -light-accent-color: -purple;
    -bg-color-accent: -pastel-purple;
}

.light .healthScrollPane{
    -bg-content: -lighter-pink;
    -accent-color: -hot-pink;
    -light-accent-color: -pink;
    -bg-color-accent: -pastel-pink;
}
