.root{
    /*mostly used for sidebar light*/
    -bluish-white: #F1F5F9;

    /*mostly used for dashboard light*/
    -off-white: #F9FAFC;
    -vibrant-blue: #2663EB;
    -less-vibrant-blue: #61A5FA;
    -pastel-blue: #DBE6FA;

    /*mostly used for food log*/
    -light-green: #F0FDF4;
    -green: #11B981;
    -dark-green: #069668;
    -pastel-green: #DAEDEA;

    /*mostly used for activity log*/
    -light-pink: #FEF2F2;
    -vibrant-red: #DB2627;
    -orange: #F97315;
    -pastel-red: #F2E0E3;

    /*settings*/
    /*light*/
    -deep-blue: #1e2946;
    -greyish-blue: #63738a;
}