.root{
    /*mostly used for sidebar light*/
    -bluish-white: #F1F5F9;

    /*mostly used for dashboard light*/
    /* brand colors */
    -off-white: #F9FAFC;
    -vibrant-orange: #FF8F4B;
    -orange-to-red-orange: linear-gradient(to left, #FF8F4B, #FFB659);
    -peach-to-orange: linear-gradient(to left, #fbb36c, #FFB659);
    -light-orange: #FFB659;
    -pastel-orange: #f8d7b8;

    /*mostly used for food log*/
    -light-green: #F0FDF4;
    -green: #11B981;
    -dark-green: #069668;
    -pastel-green: #DAEDEA;

    /*mostly used for activity log*/
    -light-pink: #FEF2F2;
    -vibrant-red: #DB2627;
    -orange: #F97315;
    -pastel-red: #F2E0E3;

    /*mostly used for settings*/
    -dark-grey: #475568;
    -grey: #64748B;
    -light-grey: #94A3B8;
    -even-lighter-grey: #E0E5EB;

    /*mostly used for notifications*/
    -light-purple: #FAF5FF;
    -purple: #8B5CF6;
    -dark-purple: #7C3AEC;
    -pastel-purple: #E9E9F9;

    /*mostly used for health*/
    -lighter-pink: #FDF2F8;
    -pink: #EC4899;
    -hot-pink: #DB2777;
    -pastel-pink: #F2E0EE;



}